/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fbff;
}
.container{
    margin:0px 156px 0px 156px;
}

/* header */
header{
    background-color: #2D25A0;
    margin-bottom: 43px;
}
/* pass-through style  */
.pass-through{
    height: 677px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 102px;
}
.pass-through-info {
    height: 230px;
    width: 485px;
}
.pass-through-info h1{
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-top: 207px;

}
.pass-through-info button{
    height: 44px;
    width: 168px;
    padding: 10px 24px 10px 24px;
    background-color:#E02C6D;
    color: #FFFFFF;
    border: 1px solid #E02C6D;
    border-radius: 2px;
    opacity: 0.7;
    transition: 0.3s;

}
.pass-through-info button:hover{
    opacity:1;
}
.pass-through-banner img{
    height: 438px;
    width: 556px;
    margin-top: 153px;
    margin-bottom: 86px;
    transform: scale(1);
    transition: .9s ease-in-out;
    
}
.pass-through-banner:hover img{
    transform: scale(1.2);
}

/* players */
.players{
    padding-top: 27px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.player{
    height: 474px;
    width: 300px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 7px 2px #cddecd;
}
.player-thumbnail img{
    height: 256px;
    width: 100%;
}
.player-info h2{
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}
.player-info p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
/* all-highlights */
.all-highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 66px;
}
.highlight-info{
    height: 309px;
    width: 469px;
}
.highlight-info h2{
    margin-top: 224px;
    font-size: 48px;
    line-height: 60px;
}
.highlight-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
    color: #6C6C6C;
}
.highlight-info button{
    height: 44px;
    width: 168px;
    padding: 10px 24px 10px 24px;
    background-color:#E02C6D;
    color: #FFFFFF;
    border: 1px solid #E02C6D;
    border-radius: 2px;
    opacity: 0.7;
    transition: 0.3s;

}
.highlight-info button:hover{
    opacity:1;
}
.highlight-banner img{
    margin-top: 165px;
    height: 427px;
    width: 567px;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    padding-top: 158px;
}
.footer-box{
    height: 213px;
    width: 483px;
}
.footer-logo img{
    height: 110px;
    width: 100%;
    
}
.social-icon ,.copyright{
    text-align: center;
}
.social-icon a{
    text-decoration: none;
    padding: 5px;
    height: 32px;
    width: 32px;
    color: gray;
    
}

